{#
/**
 * @file conditional_message.html.twig
 * Default theme implementation to present Conditional message data.
 *
 * This template is used when viewing Conditional message pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_conditional_message()
 *
 * @ingroup themeable
    TODO review if this template is needed.
 */
#}
<div{{ attributes.addClass('conditional_message') }}>
  <span>template</span>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
